<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Test</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@1.8.6"></script>
        <script src="//unpkg.com/alpinejs" defer></script>
        <script src="{% static 'js/components.js' %}"></script>
        <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    </head>
    <body class="bg-slate-300" hx-indicator=".htmx-indicator">
        <div class="htmx-indicator absolute top-0 left-0 w-full h-full flex justify-center items-center bg-slate-900 bg-opacity-40 pointer-events-none z-50">
            <span class="material-symbols-outlined animate-spin text-slate-200 text-4xl ease-in-out duration-200 select-none">radar</span>
        </div>
        <div class="flex w-full h-full" x-data="globalMethods()">
            <div class="mx-auto mt-32 bg-white rounded-md h-96 w-1/2">
                <div id="response-box" class="my-4 mx-4 h-48 p-4 bg-slate-200 rounded-md overflow-x-scroll">
                    
                </div>
                <form x-data="{input: ''}" hx-post="/post" hx-target="#response-box" hx-swap="beforeend" @submit="enterLine(input)">
                    {% csrf_token %}
                    <div id="input-container" class="flex">
                        <input name="input_text" type="text" class="bg-slate-300 mx-4 w-full h-12 rounded-md px-4" x-model="input">
                    </div>
                    <div class="flex">
                        <button class="bg-teal-600 w-full h-12 mx-4 my-4 text-white rounded-md hover:bg-teal-800 transition">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>