{% extends 'layout/base.html' %}
{% block content %}
<title>Chatbot</title>

<div class="flex w-2/3 mx-auto" x-data="{empty: true}">
    <div class="mx-auto mt-[10vh] bg-white rounded-md w-full min-w-fit">
        <div class="my-4 mx-4 text-xl font-bold text-slate-700">
            <h1>Chatbot example using OpenAI API</h1>
        </div>
        <div id="response-box" class="my-4 mx-4 h-96 p-4 bg-slate-200 rounded-md overflow-y-scroll" x-init="scrollToBottom($el)">
            <div x-show="empty" class="flex mx-auto mt-48 text-slate-500">
                <span class="flex mx-auto select-none">Chat will be shown here</span>
            </div>
        </div>
        <form x-data="{input: ''}" hx-post="/post" hx-target="#response-box" hx-swap="beforeend" @submit="enterLine(input), empty=false">
            {% csrf_token %}
            <div id="input-container" class="flex">
                <input required name="input_text" type="text" class="bg-slate-300 mx-4 w-full h-12 rounded-md px-4" x-model="input" x-init="focusInput($el)" placeholder="Write something here"/>
            </div>
            <div class="flex">
                <button class="bg-teal-600 px-8 h-12 mx-4 my-4 text-white rounded-xl hover:bg-teal-800 transition">Submit</button>
                <hr class="border-r mx-4 my-auto h-6 border-slate-300">
                <label class="my-auto ml-4" for="word_count">Word count:</label>
                <input value="50" name="word_count" type="number" class="bg-slate-300 mx-4 h-12 w-36 rounded-md px-4 my-4"/>
                <hr class="border-r mx-4 my-auto h-6 border-slate-300">
                <label class="my-auto ml-4" for="initial_message">Initial message:</label>
                <input name="initial_message" value="You are my advisor" type="text" class="bg-slate-300 mx-4 h-12 rounded-md px-4 my-4 w-full"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}
